.category-icon {
  font-size: 40px;
}

.paper {
  padding: 10px;
  margin-top: 10px;
  width: 218px;
  height: 420px;
  cursor: pointer;
}

.paper2 {
  transition: box-shadow 0.3s ease-in-out;
}

.paper2:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.dashboard-container {
  height: calc(100vh - 75px);
  overflow-y: scroll;
}

.grid-item-container {
  text-align: center;
}

.add-category-txt {
  margin-top: 50px;
  margin-left: 10px;
  font-weight: bold;
}

.grid-content {
  margin-top: 24px;
}

.overlay-container {
  width: 450px;
  height: 430px;
}

.overlay-title {
  font-weight: bold;
  margin: 15px;
}

.hr {
  border-top: 1px solid #ededed;
}

.overlay-content-body {
  padding: 18px;
}

.buttons {
  float: right;
  margin-right: 18px;
  margin-top: 18px;
}

.error-msg {
  color: red;
  text-align: center;
}
