.employees-container {
  margin: 30px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.employee-card {
  width: 300px;
  /* height: 250px; */
  margin-top: 30px;
  padding: 15px;
  /* padding-bottom: 10px; */
}

.employee-avatar {
  position: relative !important;
  left: calc(300px / 2 - 30px);
  right: calc(300px / 2 - 30px);
  bottom: 45px;
  z-index: 5;
  width: 55px !important;
  height: 55px !important;
}

.employee-name-div {
  margin-top: -10px;
  font-size: 25px;
  text-align: center;
  color: #404040;
}

.working-since-div {
  font-size: 17px;
  text-align: center;
  margin-top: 15px;
  color: gray;
}

.expand-icon {
  margin-left: auto;
  font-size: 35px;
}

.accordion {
  padding-top: 20px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.accordion.expanded {
  max-height: 200px; /* Set the maximum height you want when expanded */
}

.divider {
  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: thin;
}

.employee-details-container {
  line-height: 25px;
}

.add-employee-btn {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px !important;
  color: #558ffd;
  margin-left: 50px;
  margin-top: 20px;
  cursor: pointer;
}

.add-employee-overlay-container {
  width: 450px;
  height: 745px;
}
