.top-panel {
  height: 75px;
  /* width: calc(100vw - 300px); */
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.hello-text {
  font-weight: 600;
  margin-left: 40px;
  font-size: 20px;
}
